#login-pop-wr{
    position: absolute;
    margin-left:-196.6px;
    margin-top:-217.5px;
    left: 50%;
    top: 50%;
    display: none;
    z-index:1001;
    width:393px;
    background-color:#fff;
    font: 14px/18px arial,"\5b8b\4f53",sans-serif,"Microsoft YaHei",tahoma;
}
.js-login-pop-wr{
    position: absolute;
    z-index:1001;
    width:393px;
    height: 448px;
    background-color:#fff;
    font: 14px/18px arial,"\5b8b\4f53",sans-serif,"Microsoft YaHei",tahoma;
}
#login-pop-wr a{
    text-decoration: none;
}
#login-pop-wr a:hover{
    text-decoration: underline;
}
.pop-head{
    cursor: move;
    position: relative;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-bottom: 0;
}
.h-title{
    display: block;
    width: auto;
    height: 18px;
    font-size: 16px;
    font-family: 宋体;
    font-weight: bold;
    color: rgb(102, 102, 102);
    text-indent: 50px;
    text-align: left;
    background: -webkit-image-set(url("https://ss0.bdstatic.com/5LMZfyabBhJ3otebn9fN2DJv/passApi/img/baidu_logo_24_056405eb.png") 1x, url("https://ss0.bdstatic.com/5LMZfyabBhJ3otebn9fN2DJv/passApi/img/baidu_logo_24_056405eb.png") 2x) 18px 8px no-repeat;
    padding: 15px 0px 13px;
    overflow: hidden;
}
.close-btn-wr{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 16px;
}
.close-btn-wr a{
    width: 16px;
    height: 16px;
    outline: none;
    display: block;
    margin: 0;
    padding: 0;
    background-image: url(https://ss0.bdstatic.com/5LMZfyabBhJ3otebn9fN2DJv/passApi/img/pass_login_icons_7241098f.png);
    background-position: -56px -48px;
    background-repeat: no-repeat;
}
.pop-body{
    border-left: 1px solid #ddd;
    border-top: 1px solid #eee;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #eee;
    font-size: 12px;
}
.pop-fm{
    width:351px;
    margin:0 auto;
    padding-bottom:40px;
}
.pop-p0{
    text-align: left;
    font-size: 14px;
    color: #666;
    margin-top:8px;
    padding:5px;
}
.pop-p1{
    text-align: right;
    margin-bottom: 8px;
}
.pop-p1 a{
    background: url(https://ss0.bdstatic.com/5LMZfyabBhJ3otebn9fN2DJv/passApi/img/smsSwitchPhone_296e835b.png) 0 0 no-repeat;
    padding-left: 15px;
    color: #666;
}
.pop-p2, .pop-p3{
    position:relative;
    margin-bottom: 15px;
}
.pop-p2 label, .pop-p3 label{
    display: block;
    position: absolute;
    top: 8px;
    left: 6px;
    width: 0;
    height: 24px;
    overflow: hidden;
    padding: 0 0 0 24px;
    background: url(https://ss0.bdstatic.com/5LMZfyabBhJ3otebn9fN2DJv/passApi/img/input_icons_24_915272c4.png) no-repeat;
    z-index: 2;
}
.pop-p2 label{
    background-position:0 -68px;
}
.pop-p3 label{
    background-position:0 -147px;
}
#pop-user, #pop-passw{
    display: block;
    width: 300px;
    height: 16px;
    padding: 12px 10px 12px 10px;
    padding-left: 38px;
    position: relative;
    border: 1px solid #ddd;
    -webkit-transition: .3s;
    font-size: 14px;
    color: #666;
    outline: none;
}
.pop-p4{
    height: 15px;
    margin-bottom:15px;
    text-align:left;
}
.pop-p4 input{
    margin-left:-1px;
    vertical-align: middle;
}
.pop-login-btn{
    width:100%;
    height:48px;
    outline:0;
    border:0;
    border-radius:3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #3f89ec;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
}
.pop-login-btn:hover{
    background-color: #4490f7;
}
.pop-p5{
    position:relative;
    margin-bottom: 15px;
    color: #4490f7;
}
.pop-p5 .a-help{
    position:absolute;
    right:0;
    top: -28px;
    color: #4490f7;
}
.pop-p5 .a-regi{
    position:absolute;
    right:0;
    top: 60px;
    color: #4490f7;
}
.pop-p6{
    text-align: right;
    margin-bottom:40px;
}
.pop-foot{
    width:371px;
    padding-left: 20px;
    padding-top:15px;
    padding-bottom:15px;
    text-align: left;
    font-size:12px;
    color:#666;
    border: 1px solid #ddd;
    border-top:0;
    overflow:hidden;
}
.foot-p2 div{
    float:left;
    position:relative;
    width:40px;
    height:40px;
    font-size: 12px;
}
.foot-p2  a.qq-icon{
    position:absolute;
    bottom:0;
    left:0;
    display:block;
    width:24px;
    height:24px;
    background:url(https://ss0.bdstatic.com/5LMZfyabBhJ3otebn9fN2DJv/passApi/img/pass_login_icons_7241098f.png) -88px 0 no-repeat;
}
.foot-p2 a.xinlang-icon{
    position:absolute;
    bottom:0;
    left:0;
    display:block;
    width:24px;
    height:24px;
    background:url(https://ss0.bdstatic.com/5LMZfyabBhJ3otebn9fN2DJv/passApi/img/pass_login_icons_7241098f.png) -64px 0 no-repeat;
}
